<div class="navigationBar row">
    <div class="projectName col-md-6">
        <a href="javascript:;" (click)="gotoIndex()" style="text-decoration : none">
            <img class="logo" src="https://upload.wikimedia.org/wikipedia/en/0/00/Newegg_Logo_updated.png"> Questionnaire System
        </a>
    </div>
    <div class="newButton col-md-3">
        <a href="javascript:;" (click)="newQuestionnaire()" class="a">
            <i class="buttoned fa fa-plus">&nbsp;&nbsp;New Questionnaire</i>
        </a>
    </div>
</div>