<navigationBar></navigationBar>
<div class='ntk-Create'>
    <div class="ntk-Details">
        <div>
            <table class="table table-bordered">
                <caption>{{'details.main.description' | translate}}</caption>
                <thead>
                    <tr>
                        <th>{{'details.main.index' | translate}}</th>
                        <th>{{'details.main.shortname' | translate}}</th>
                        <th>{{'details.main.fullname' | translate}}</th>
                        <th>{{'details.main.department' | translate}}</th>
                        <th>{{'details.main.details' | translate}}</th>
                    </tr>
                </thead>
                <span *ngIf="answerDetails.length == 0">
                    {{'details.main.noAnswer' | translate}}
                </span>
                <tbody>
                    <tr *ngFor="let itemAnswer of answerDetails; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{itemAnswer.shortName}}</td>
                        <td>{{itemAnswer.fullName}}</td>
                        <td>{{itemAnswer.department}}</td>
                        <td>
                            <a href="javascript:" (click)='goTo(questionnaireID, itemAnswer.shortName)'>{{'details.main.clickToView' | translate}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>