<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://oversea.newegg.com/DataOperation">
  
  <!-- * 删除题目及其选项 delete topics and options-->>
  <dataCommand name="MIS_EggRolls_DeleteQuestionnaire_Only" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
				DELETE FROM [eggrolls].Questionnaires WHERE QuestionnaireID = @Questionnaireid
      ]]>
    </commandText>l
    <parameters>
      <param name="@Questionnaireid" dbType="Int32" direction="Input" />
    </parameters>
  </dataCommand>
  
  <!-- * 删除题目及其选项 delete topics and options-->>
  <dataCommand name="MIS_EggRolls_DeleteTopic_Only" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
				DELETE FROM [eggrolls].Topics WHERE QuestionnaireID = @Questionnaireid
      ]]>
    </commandText>l
    <parameters>
      <param name="@Questionnaireid" dbType="Int32" direction="Input" />
    </parameters>
  </dataCommand>
  
  <!-- * delete topics and options-->>
  <dataCommand name="MIS_EggRolls_DeleteOption_Only" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
				DELETE FROM [eggrolls].Options WHERE QuestionnaireID = @Questionnaireid
      ]]>
    </commandText>l
    <parameters>
      <param name="@Questionnaireid" dbType="Int32" direction="Input" />
    </parameters>
  </dataCommand>
  
  <!-- * Answer sheet Query_All_Answer_Of_A_Option-->
  <dataCommand name="EggRolls_Common_Answer_Query_All_Answer_Of_A_Option" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT 
        ShortName
        ,FullName
        ,Department
        ,Answer
       FROM [eggrolls].[Answers] 
       WHERE QuestionnaireID = @QuestionnaireID AND TopicID = @TopicID AND Answer = @OptionID
    ]]>
    </commandText>
    <parameters>
      <param name="@QuestionnaireID" dbType="Int32" direction="Input" />
      <param name="@TopicID" dbType="Int32" direction="Input" />
      <param name="@OptionID" dbType="AnsiString" size="2" direction="Input" />
    </parameters>
  </dataCommand>
  
  <!-- * Answer sheet statistics _Query_All_Answer_Of_A_Topic-->
  <dataCommand name="EggRolls_Common_Answer_Query_All_Answer_Of_A_Topic" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT 
        ShortName
        ,FullName
        ,Department
        ,Answer AS Ans
       FROM [eggrolls].[Answers] 
       WHERE QuestionnaireID = @QuestionnaireID AND TopicID = @TopicID
    ]]>
    </commandText>
    <parameters>
      <param name="@QuestionnaireID" dbType="Int32" direction="Input" />
      <param name="@TopicID" dbType="Int32" direction="Input" />
    </parameters>
  </dataCommand>

  <!-- * Answer sheet statistics Answer_Participato-->
  <dataCommand name="EggRolls_Common_Questionnaire_Participator" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT 
        ShortName
        ,FullName
        ,Department
       FROM [eggrolls].[Answers] 
       WHERE QuestionnaireID = @QuestionnaireID GROUP BY ShortName,FullName,Department
    ]]>
    </commandText>
    <parameters>
      <param name="@QuestionnaireID" dbType="Int32" direction="Input" />
    </parameters>
  </dataCommand>
  
  <!-- * Answer sheet statistics-->
  <dataCommand name="MIS_EggRolls_Answer_Sheet_Statistics" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT
          TopicID,Answer,COUNT(Answer) AS ChosenNumber,Department
         FROM [eggrolls].[Answers]
         WHERE QuestionnaireID = @QuestionnaireID AND Type != 'Text' GROUP BY TopicID,Answer,Department
    ]]>
    </commandText>
    <parameters>
      <param name="@QuestionnaireID" dbType="Int32" direction="Input" />
    </parameters>
  </dataCommand>
 
  <!-- * 首页分页 ByTitle 查询-->
  <dataCommand name="EggRolls_Common_Questionnaire_QueryByTitle_WithPaging" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
SET NOCOUNT ON;
DECLARE @StartPos INT = @StartPageIndex * @PageSize + 1
DECLARE @EndPos INT = (@EndPageIndex + 1) * @PageSize

IF OBJECT_ID(N'tempdb..#temp_QueryByTitle_Questionnaires',N'U') IS NOT NULL
BEGIN
    DROP TABLE #temp_QueryByTitle_Questionnaires
END

SELECT	
     ROW_NUMBER() OVER(ORDER BY [LastEditDate] DESC ) AS QuesNumber
		,[QuestionnaireID]
		,[Title]
		,[Status]
		,[IsRealName]
		,[DueDate]
		,[Description]
		,[ShortName]
		,[FullName]
		,[BackgroundImageUrl]
		,[InUser]
		,[InDate]
		,[LastEditUser]
		,[LastEditDate]
    
INTO  #temp_QueryByTitle_Questionnaires
FROM Test.eggrolls.Questionnaires WITH(NOLOCK)
WHERE [Title] LIKE '%' + @Title + '%' AND [InUser] = @ShortName

--Summary
SELECT COUNT(1) AS [TotalRecords]
FROM #temp_QueryByTitle_Questionnaires

SELECT
		[QuestionnaireID]
		,[Title]
		,[Status]
		,[IsRealName]
		,[DueDate]
    ,(
      SELECT COUNT(DISTINCT A.ShortName) 
      FROM eggrolls.Answers A WITH(NOLOCK) 
      WHERE Q.QuestionnaireID = A.QuestionnaireID
      ) AS Participants
      
FROM #temp_QueryByTitle_Questionnaires Q WITH(NOLOCK)
WHERE [QuesNumber]  BETWEEN @StartPos AND @EndPos
        ]]>
    </commandText>
    <parameters>
      <param name="@ShortName" dbType="AnsiString" size="10" direction="Input" />
      <param name="@Title" dbType="String" size="50" direction="Input" />
      <param name="@StartPageIndex" dbType="Int32" direction="Input"/>
      <param name="@EndPageIndex" dbType="Int32" direction="Input"/>
      <param name="@PageSize" dbType="Int32" direction="Input"/>
    </parameters>
  </dataCommand>

  <!-- * 插入 Questionnaire -->
  <dataCommand name="EggRolls_Common_Questionnaire_Creation" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[

        INSERT INTO eggrolls.Questionnaires 
        (Title, Status, IsRealName, DueDate, Description, ShortName,FullName, BackgroundImageUrl, InUser, InDate, LastEditUser, LastEditDate)
        VALUES (@Title, @Status, @IsRealName, @DueDate, @Description, @ShortName, @FullName, @BackgroundImageUrl,@ShortName, GETDATE(), @ShortName, GETDATE())
        
        SELECT @QuestionnaireID = @@identity
        ]]>
    </commandText>
    <parameters>
      <param name="@Title" dbType="String" size="50" direction="Input" />
      <param name="@Status" dbType="Int32" direction="Input" />
      <param name="@IsRealName" dbType="Boolean" direction="Input" />
      <param name="@DueDate" dbType="DateTime" direction="Input" />
      <param name="@Description" dbType="String" size="2000" direction="Input" />
      <param name="@ShortName" dbType="String" size="10" direction="Input" />
      <param name="@FullName" dbType="String" size="50" direction="Input" />
      <param name="@BackgroundImageUrl" dbType="String" size="100" direction="Input" />
      <param name="@QuestionnaireID" dbType="Int32" direction="Output"/>
    </parameters>
  </dataCommand>
  
  <!-- * update Questionnaire -->
  <dataCommand name="EggRolls_Common_Questionnaire_Update" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[

        UPDATE [eggrolls].[Questionnaires] SET
          Title = @Title
          ,Status = @Status
          ,IsRealName = @IsRealName
          ,DueDate = @DueDate
          ,Description = @Description
          ,ShortName = @ShortName
          ,FullName = @FullName
          ,BackgroundImageUrl = @BackgroundImageUrl 
          ,LastEditUser = @ShortName
          ,LastEditDate= GETDATE()
        WHERE QuestionnaireID = @QuestionnaireID

        ]]>
    </commandText>
    <parameters>
      <param name="@Title" dbType="String" size="50" direction="Input" />
      <param name="@Status" dbType="Int32" direction="Input" />
      <param name="@IsRealName" dbType="Boolean" direction="Input" />
      <param name="@DueDate" dbType="DateTime" direction="Input" />
      <param name="@Description" dbType="String" size="2000" direction="Input" />
      <param name="@ShortName" dbType="AnsiString" size="10" direction="Input" />
      <param name="@FullName" dbType="String" size="50" direction="Input" />
      <param name="@BackgroundImageUrl" dbType="String" size="100" direction="Input" />
      <param name="@QuestionnaireID" dbType="Int32" direction="Input"/>
    </parameters>
  </dataCommand>
  
  <!-- * Insert Topics by bunch-->
  <dataCommand name="EggRolls_Common_Topic_Add_Bunch" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO Test.eggrolls.Topics (
        QuestionnaireID
        ,TopicID
        ,Type
        ,TopicTitle
        ,IsRequired
        ,Limited
        ,InUser
        ,InDate
        ,LastEditUser
        ,LastEditDate
        )
        SELECT
          @QuestionnaireID
	        ,T.S.value('(TopicID/text())[1]', 'INT')
          ,T.S.value('(Type/text())[1]', 'VARCHAR（20)')
          ,T.S.value('(TopicTitle/text())[1]', 'NVARCHAR（100）')
          ,T.S.value('(IsRequired/text())[1]', 'BIT')
          ,T.S.value('(Limited/text())[1]', 'INT')
          ,@ShortName
          ,GETDATE()
          ,@ShortName
          ,GETDATE()
        FROM @TopicListSerialize.nodes('//*/Topic') AS T(S)
        ]]>
    </commandText>
    <parameters>
      <param name="@QuestionnaireID" dbType="Int32" direction="Input" />
      <param name="@ShortName" dbType="AnsiString" size="10"  direction="Input" />
      <param name="@TopicListSerialize" dbType="Xml" direction="Input" />
    </parameters>
  </dataCommand>
  
  <!-- * Insert Options by bunch-->
  <dataCommand name="EggRolls_Common_Option_Add_Bunch" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
        INSERT INTO Test.eggrolls.Options (
        QuestionnaireID
        ,TopicID
        ,OptionID
        ,OptionTitle
        ,InUser
        ,InDate
        ,LastEditUser
        ,LastEditDate)
        SELECT
          @QuestionnaireID
	        ,T.S.value('(TopicID/text())[1]', 'INT')
          ,T.S.value('(OptionID/text())[1]', 'CHAR(2)')
          ,T.S.value('(OptionTitle/text())[1]', 'NVARCHAR（80）')
          ,@ShortName
          ,GETDATE()
          ,@ShortName
          ,GETDATE()
        FROM @OptionListSerialize.nodes('//*/Option') AS T(S)
        ]]>
    </commandText>
    <parameters>
      <param name="@QuestionnaireID" dbType="Int32" direction="Input" />
      <param name="@ShortName" dbType="AnsiString" size="10" direction="Input" />
      <param name="@OptionListSerialize" dbType="Xml" direction="Input" />
    </parameters>
  </dataCommand>
  
  <!-- * Insert Answers by bunch-->
  <dataCommand name="EggRolls_Common_Answer_Add_Bunch" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
        INSERT INTO Test.eggrolls.Answers (
          QuestionnaireID
          ,ShortName
          ,FullName
          ,Country
          ,Area
          ,SupportCenter
          ,Department
          ,TopicID
          ,Type
          ,Answer
          ,InUser
          ,InDate
          ,LastEditUser
          ,LastEditDate
        )
        SELECT
          @QuestionnaireID
          ,@ShortName
          ,@FullName
          ,@Country
          ,@Area
          ,@SupportCenter
          ,@Department
          ,T.S.value('(TopicID/text())[1]', 'INT')
          ,T.S.value('(Type/text())[1]', 'VARCHAR(20)')
          ,T.S.value('(Ans/text())[1]', 'NVARCHAR(2000)')
          ,@ShortName
          ,GETDATE()
          ,@ShortName
          ,GETDATE()
        FROM @AnswerListSerialize.nodes('//*/Answer') AS T(S)
        ]]>
    </commandText>
    <parameters>
      <param name="@QuestionnaireID" dbType="Int32" direction="Input" />
      <param name="@ShortName" dbType="AnsiString" size="10" direction="Input" />
      <param name="@FullName" dbType="AnsiString" size="50" direction="Input" />
      <param name="@Country" dbType="AnsiString" size="20" direction="Input" />
      <param name="@Area" dbType="AnsiString" size="20" direction="Input" />
      <param name="@SupportCenter" dbType="AnsiString" size="20" direction="Input" />
      <param name="@Department" dbType="AnsiString" size="20" direction="Input" />
      <param name="@AnswerListSerialize" dbType="Xml" direction="Input" />
    </parameters>
  </dataCommand>
  
  <!-- * Delete Answers-->
  <dataCommand name="EggRolls_Common_Answer_Delete" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
        DELETE FROM eggrolls.Answers WHERE QuestionnaireID = @QuestionnairQueryQuestionnaireeID
        ]]>
    </commandText>
    <parameters>
      <param name="@QuestionnaireID" dbType="Int32" direction="Input" />
    </parameters>
  </dataCommand>
  
  <!-- * Query Answers-->
  <dataCommand name="EggRolls_Common_Answer_Query" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT 
          TopicID
          ,Answer AS Ans
          ,ShortName
          ,FullName
          ,Department
        FROM eggrolls.Answers WHERE QuestionnaireID = @QuestionnaireID AND ShortName = @ShortName
        ]]>
    </commandText>
    <parameters>
      <param name="@QuestionnaireID" dbType="Int32" direction="Input" />
      <param name="@ShortName" dbType="AnsiString" size="10" direction="Input" />
    </parameters>
  </dataCommand>
  
  <!-- * Questionnaire Query-->
  <dataCommand name="MIS_EggRolls_QueryQuestionnaire" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT *,(SELECT COUNT(DISTINCT ShortName) FROM [Test].[eggrolls].[Answers] WHERE QuestionnaireID = @QuestionnaireID) AS Participants FROM eggrolls.Questionnaires WITH(NOLOCK) WHERE [QuestionnaireID]=@QuestionnaireID
        ]]>
    </commandText>
    <parameters>
      <param name="@QuestionnaireID" dbType="Int32" direction="Input" />
    </parameters>
  </dataCommand>

  <!-- * Topic Query-->
  <dataCommand name="MIS_EggRolls_QueryTopic" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT * FROM eggrolls.Topics WITH(NOLOCK) WHERE [QuestionnaireID]=@QuestionnaireID ORDER BY TopicID
        ]]>
    </commandText>
    <parameters>
      <param name="@QuestionnaireID" dbType="Int32" direction="Input" />
    </parameters>
  </dataCommand>

  <!-- * Option Query-->
  <dataCommand name="MIS_EggRolls_QueryOption" database="Test_MIS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT * FROM eggrolls.Options WITH(NOLOCK) WHERE [QuestionnaireID]=@QuestionnaireID
        ]]>
    </commandText>
    <parameters>
      <param name="@QuestionnaireID" dbType="Int32" direction="Input" />
    </parameters>
  </dataCommand>
  
</dataOperations>