<div id='backImg' style="top:0;bottom:0;left:0;right:0;position:fixed;height:100%"></div>
<div class="mainTain" id="mainTain" >
    <div>
        <div class="row title wordBreak">{{questionnaire.Title}}</div>
        <div class="row information">
        {{questionnaire.IsRealName? ('answer.questionnaire.realName' | translate):('answer.questionnaire.anonymous' | translate)}} &nbsp;&nbsp;{{'answer.questionnaire.deadline' | translate}}: {{questionnaire.DueDate == undefined?"":getStanderdDate(questionnaire.DueDate)}}
        </div>
        <div id="divDescription2" class="row description wordBreak"></div>
        <div *ngFor="let topic of questionnaire.Topics;">
            <div>
                <div class="row topicTitle" id={{topic.TopicID}}>
                    {{topic.TopicID}}. {{topic.TopicTitle}}
                    <span class="tips">
                        {{topic.Type == 'Checkbox'? ('answer.topic.multiChoice' | translate) : ''}}
                        {{topic.Type != 'Checkbox' || topic.Limited == 0|| topic.Limited == undefined? '':('answer.topic.limitTip1' | translate) + topic.Limited + ('answer.topic.limitTip2' | translate)}}
                        {{topic.IsRequired? ('answer.topic.requiredTip' | translate):''}}
                    </span>
                </div>
                <div [ngSwitch]="topic.Type">
                    <div *ngSwitchCase="'Radio'" class="row">
                        <form class="optionForm">
                            <div *ngFor="let option of topic.Options;">
                                <label id="d{{topic.TopicID+option.OptionID}}">
                                <div class="checkPadding">
                                    <i *ngIf="option.isAnswer == true" class="fa fa-check"></i>
                                </div>
                                <input class='input' type="radio" name={{topic.TopicID}} id={{topic.TopicID+option.OptionID}} value={{option.OptionID}}>
                                {{option.OptionID}}. {{option.OptionTitle}}
                            </label>
                            </div>
                        </form>
                    </div>
                    <div *ngSwitchCase="'Checkbox'" class="row">
                        <form class="optionForm">
                            <div *ngFor="let option of topic.Options;">
                                <label id="d{{topic.TopicID+option.OptionID}}">
                                <div class="checkPadding">
                                    <i *ngIf="option.isAnswer == true" id="i{{topic.TopicID+option.OptionID}}" class="fa fa-check"></i>
                                </div>
                                <input class='input' type="checkbox" name={{topic.TopicID}} id={{topic.TopicID+option.OptionID}} value={{option.OptionID}}>
                                {{option.OptionID}}. {{option.OptionTitle}}
                            </label>
                            </div>
                        </form>
                    </div>
                    <div *ngSwitchCase="'Text'" class="row">
                        <form class="optionForm">
                            <textarea class="textarea" name={{topic.TopicID}} maxlength="1000em" readonly="readonly">{{topic.Answer}}</textarea>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row backDiv">
        <a href="javascript:;" (click)="gobackDetails()" class="buttoned submitButton">
            {{'answer.answer.back' | translate}}
        </a>
    </div>
    <div id="" class="row backAfter"></div>
</div>