<?xml version="1.0"?>
<databaseList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://oversea.newegg.com/DatabaseList">
  <database name="Test_MIS">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6njUqoNX1BXcfMvvUaOvBtQu9C6SmjHLfr1VzGyeOkxOg9LIuzDao1IoUM7jxLOCmLpZS25afxv2O37yNfdOgc5auoDDLHSol4qPBfkYXIK1fJ7F6JNuGhEzRkeimiArnXILx1z/RKwN2XPvwMkk/ofQWjus9N8IuOuMiYHnXP3pOOD2Ut+JkGL99hXRvq5wHOdRSloCkEFCsmDbeEtvM1bZmaec7BMVHoKwe7/35yqHDQ8Twkbb+RXk2mM5nXeR9f0ADtbwxX3zGte9vX5E/MbL3+czEuFQ63xAnSJbvbWjV7InYCnz0Vyr4d54rv0y7A==</connectionString>
  </database>
</databaseList>

<!--http://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlconnection.connectionstring.aspx-->
