.option {
    text-indent:2em;
}
.as{
    background-color:rgb(254, 159, 52);
}
.mainTain{
    width:1000px;
    margin:auto;
    font-family: "Microsoft YaHei" ! important;
}
.optioned{
    display: inline-block;
    border:1px solid rgb(162, 210, 160);
    font-size: 10px;
    padding: 4px;
    margin-left: 3px;
    margin-right: 3px;
    color:black;
    border-radius:5px;
    -moz-border-radius:5px;
    text-decoration : none;
}
.chosen{
    background-color: rgb(162, 210, 160);
}
.topic{
    margin-bottom:10px;
}
.topicTitleStati{
    font-size: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    margin-top: 5px;
}
.textAlign{
}
.staticPanel{
    border:3px solid rgb(198, 221, 252);
    color:black;
    border-radius:5px;
    -moz-border-radius:5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.staticTitle{
    padding: 3px;
    background-color: rgb(198, 221, 252);
}
.staticOption{
    padding: 3px;
    border-top: 3px solid rgb(198, 221, 252);
    background-color: white
}
.staticCol{
    width: 100px;
    display: inline-block;
    float: right;
}
.staticColText{
    display: inline-block;
    margin-right: 5px;
}
.w1{
    width: 65px;
}
.w2{
    width: 125px;
}
.w3{
    width: 70px;
}
.staticCol404{
    width: 100%;
    display: inline-block;
}
a{
    text-decoration : none;
}
a:hover{
    text-decoration:none;
    }
.staticColAns{
    width: 400px;
    display: inline-block;
    margin-left: 5px;
    float: right;
    }