.product-list {
  .jarviswidget {
    margin-bottom: 10px;
    .widget-body {
      min-height: auto;
    }
  }
  .search-form {
    padding: 13px;
    padding-bottom: 0;
    .nk-checkbox {
      .checkbox {
        line-height: 30px;
      }
      i {
        margin-top: 2.5px;
      }
    }
    .k-datepicker{
      width: 100%;
    }
  }
}
