<div class="main">
        <div id='description' style="color:gray"></div>
        <div class="buttoned fixButton col-md-12" (click)="back()" href="javascript:;">&nbsp;{{'personnelList.main.back' | translate}}</div>
        <div class="plPanel col-md-12">
                <div class="row plTitle">
                        <div class="plCol">
                                {{'personnelList.main.shortname' | translate}}
                        </div>
                        <div class="plCol2">
                                {{'personnelList.main.fullname' | translate}}
                        </div>
                        <div class="plCol">
                                {{'personnelList.main.department' | translate}}
                        </div>
                </div>
                <div class="row plOption" *ngFor="let option of getPersonnelList();">
                        <div class="plCol">
                                {{option.ShortName}}
                        </div>
                        <div class="plCol2">
                                {{option.FullName}}
                        </div>
                        <div class="plCol">
                                {{option.Department}}
                        </div>
                </div>
        </div>
</div>