.mainTain{
    width:800px;
    margin:auto;
    font-family: "Microsoft YaHei" ! important;
    position: relative;
}
.title{
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
}
.information{
    text-align: center;
    margin-top: 10px;
}
.description{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.topicTitle{
    font-size: 15px;
    margin-top: 5px;
}
.tips{
    font-size: 5px;
}
.textarea{
    width: 100%;
    overflow: auto;  
    word-break: break-all;
    border-radius:5px;
    -moz-border-radius:5px;
    background-color:transparent
}
.optionForm{
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.back2{
    background-position: center top;
    background-size: cover;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
}
#back {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
}
.backAfter {
    border-radius:5px;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    -moz-border-radius:5px;
    content: '123123123';
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
    /* background-color: rgba(255,255,255,0.8); */
    z-index: -1;  
 
}
#thanks{
    position: fixed;
}
.thanksTitle{
    font-size: 100px;
}
.thanksFor{
    font-size: 50px;
    margin-top: -25px;
}
.thanksEnd{
    background-color: rgb(89, 135, 253);
    color: white;
    font-size: 20px;
    margin-top: -10px;
}
#thanksBoard{
    position: absolute;
    left:0;
    right: 0;
    opacity: 0;
    /* filter:alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3; */
}
.input{
    background:url('') left no-repeat;height:24px; margin-left:-15px;
    display:none;
}
.input:hover{
    
}
.checkPadding{
    display: inline-block;
    width: 20px;
}
.iCheck{
    display: none;
}
label{
    display: block;
    border-radius:5px;
    -moz-border-radius:5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 3px;
    padding-top: 3px;
    /* background-color: rgba(255, 255, 255, 0.63); */
}
/* .label{
    display: block;
    border-radius:5px;
    -moz-border-radius:5px;
    background-color: rgba(255, 255, 255, 0.63);
} */
.wordBreak{
    word-wrap: break-word; 
    word-break: normal; 
}