<navigationBar></navigationBar>
<div class="mainTain">
    <div class="row title">
        <input name="questionnaire" [(ngModel)]="formControl.title" type="text" placeholder="Click here to edit the title of the questionnaire"
            maxlength="50em">
    </div>
    <div class="row information">
        <label for="">
            Real name
            <input name="isRealName" type="checkbox" checked="true" [(ngModel)]="formControl.isRealName" />
        </label>
        &nbsp;&nbsp;
        <label for="">
            Deadline:
            <kendo-datepicker class="datePicker" [min]="dateTimePickerMin" [format]="'dd-MM-yyyy HH:mm'" name="createDueDate" [(ngModel)]="formControl.dueDate"></kendo-datepicker>
        </label>
    </div>
    <div class="QuestionnaireDescription row">
        <div class="span">Please edit the description of the questionnaire below</div>
        <ck-editor class="editor" title="" name="editor1" [config]="{skin:'office2003',uiColor: '#ffe4c4',toolbar:'Basic',toolbarCanCollapse:true}"
            [readonly]="false" (on)="formControl.description = $event.values" debounce="500" [(ngModel)]="formControl.description"
            language="en" removePlugins='elementspath' height="300px" config.toolbar='Basic'></ck-editor>
    </div>


    <div *ngFor="let item of formControl.topics; let j = index">
        <div class="topicForm row formList" draggable="true">
            <a href="javascript:;" class="fa fa-remove floatRight" (click)="deleteTopicControl(j)"></a>
            <label>
                    <input name="isRequired{{j}}" id="isRequired{{j}}" type="checkbox" checked="true" [(ngModel)]="formControl.topics[j].isRequired">Required
                </label>
                <span *ngIf="item.Type == 'Checkbox'">
                    Limit
                    <input class="width2Char" name="isLimited{{j}}" id="isLimited{{j}}" type="text" [(ngModel)]="formControl.topics[j].limited">
                </span>
            <div class="row topicTitle">
                {{j}}.
                <input ondragstart="e.stopPropagation()" class="topicInput" type="text" placeholder="Enter the title here" [(ngModel)]="formControl.topics[j].topicTitle">
                <span class="tips">
                    {{item.Type == 'Checkbox'? ' Multiple choice ':''}} {{item.Type != 'Checkbox' || item.Limited == 0 || item.Limited == undefined?
                    '':', have to choose ' + item.Limited + ' options'}} {{item.IsRequired? ' *':''}} &nbsp;&nbsp;&nbsp;
                </span>
            </div>
                <div *ngIf="item.Type != 'Text'" class="row">
                    <div class="optionForm">
                        <div *ngFor="let itemOption of item.options; let k = index">
                            {{k|Num2LetterBySort}}
                            <input class="optionInput" type="text" placeholder="Enter the option here" [(ngModel)]="formControl.topics[j].options[k].optionTitle">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary" (click)="addOptionControl(j,k)">+</button>
                                <button type="button" class="btn btn-secondary" (click)="deleteOptionControl(j,k)">-</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div *ngSwitchCase="'Checkbox'" class="row">
                    <div class="optionForm">
                        <div *ngFor="let itemOption of item.options; let k = index">
                            {{k|Num2LetterBySort}}
                            <input class="optionInput" type="text" placeholder="Enter the option here" [(ngModel)]="formControl.topics[j].options[k].optionTitle">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary" (click)="addOptionControl(j,k)">+</button>
                                <button type="button" class="btn btn-secondary" (click)="deleteOptionControl(j,k)">-</button>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div *ngIf="item.Type == 'Text'" class="row">
                    <div class="optionForm">
                        <textarea class="textarea2" readonly="true" placeholder=" The respondent will answer here"></textarea>
                    </div>
                </div>
            </div>

    </div>

    <div class="buttonAddForm">
        <div class="btn-group btn-group-lg buttonAddTopic row" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-default" (click)="addFormControl('Radio')">Single choice</button>
            <button type="button" class="btn btn-default" (click)="addFormControl('Checkbox')">Multiple choice</button>
            <button type="button" class="btn btn-default" (click)="addFormControl('Text')">Subjective questions</button>
            <button type="button" class="btn btn-default" (click)="setAppearance(true)">Background image</button>
            <!-->-弹出的模态层：用于设置背景图片-</!-->
        </div>
        <div class="createBtnGroup">
            <nk-modal [(shown)]="setAppearanceView" header="设置外观" (onOk)="setAppearance(false)">
                <label for="">
                    New Year's Day
                    <input name="setAppearanceUrl" type="radio" [value]="'http://10.1.24.133/EaaS/Message/EggRolls_NewYear.jpg'" [(ngModel)]="formControl.backgroundImageUrl"
                    />
                </label>
                <label for="">
                    Chinese New Year
                    <input name="setAppearanceUrl" type="radio" [value]="'http://10.1.24.133/EaaS/Message/EggRolls_ChineseNewYear.jpg'" [(ngModel)]="formControl.backgroundImageUrl"
                    />
                </label>
                <label for="">
                    Flower
                    <input name="setAppearanceUrl" type="radio" [value]="'http://10.1.24.133/EaaS/Message/EggRolls_Flower.jpg'" [(ngModel)]="formControl.backgroundImageUrl"
                    />
                </label>
                <label for="">
                    Grass
                    <input name="setAppearanceUrl" type="radio" [value]="'http://10.1.24.133/EaaS/Message/EggRolls_Grass.jpg'" [(ngModel)]="formControl.backgroundImageUrl"
                    />
                </label>
                <label for="">
                    Cloud
                    <input name="setAppearanceUrl" type="radio" [value]="'http://10.1.24.133/EaaS/Message/EggRolls_Cloud.jpg'" [(ngModel)]="formControl.backgroundImageUrl"
                    />
                </label>
                <label for="">
                    Antiquity
                    <input name="setAppearanceUrl" type="radio" [value]="'http://10.1.24.133/EaaS/Message/EggRolls_Antiquity.jpg'" [(ngModel)]="formControl.backgroundImageUrl"
                    />
                </label>
                <label for="">
                    Dream
                    <input name="setAppearanceUrl" type="radio" [value]="'http://10.1.24.133/EaaS/Message/EggRolls_Dream.jpg'" [(ngModel)]="formControl.backgroundImageUrl"
                    />
                </label>
                <label for="">
                    ChineseNewYear2
                    <input name="setAppearanceUrl" type="radio" [value]="'http://10.1.24.133/EaaS/Message/EggRolls_ChineseNewYear2.jpg'" [(ngModel)]="formControl.backgroundImageUrl"
                    />
                </label>
                <label for="">
                    Christmas
                    <input name="setAppearanceUrl" type="radio" [value]="'http://10.1.24.133/EaaS/Message/EggRolls_Christmas.jpg'" [(ngModel)]="formControl.backgroundImageUrl"
                    />
                </label>
                <label for="">
                    Mountaineering
                    <input name="setAppearanceUrl" type="radio" [value]="'http://10.1.24.133/EaaS/Message/EggRolls_Mountaineering.jpg'" [(ngModel)]="formControl.backgroundImageUrl"
                    />
                </label>
                <label for="">
                    Watercolor
                    <input name="setAppearanceUrl" type="radio" [value]="'http://10.1.24.133/EaaS/Message/EggRolls_Watercolor.jpg'" [(ngModel)]="formControl.backgroundImageUrl"
                    />
                </label>
                <label for="">
                    Gift
                    <input name="setAppearanceUrl" type="radio" [value]="'http://10.1.24.133/EaaS/Message/EggRolls_Gift.jpg'" [(ngModel)]="formControl.backgroundImageUrl"
                    />
                </label>
                <img src="{{formControl.backgroundImageUrl}}" alt="PreviewImg" width="350px" height="200px">
            </nk-modal>


        </div>